body {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/75/28/a2/7528a292024655a61068f0d6a8d83a73.jpg")
}
.list {
  color: rgb(205,185,212);
  font-family: sans-serif;
  background-color:black;
  opacity:0.9;
  font-weight: bold;
  list-style-position: inside;
  font-size: 125%;
}
.logan {
  font-style: italic;
  color: rgb(217,109,161)
}
.response {
  color: rgb(120,178,233)
}
.rem {
  position:fixed;
  left: 1000px;
  bottom: 0px;
}